

*{ 
    margin: 0;
    padding: 0;
}
body{
    font-family: "Fira Sans", sans-serif;
}

.cabecalho{
background-color:#FF0C0C ;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.imagem-cabecalho{
width: 20%;
}
.cabecalho-item{
display: inline-block;
margin: 0 16px;
font-size: 24px;
}
.sao-imagem{
width: 320px ;
height:313px ;
}
.sao-paulo{
background-image: linear-gradient(#FF0C0C,white);
color: aliceblue;
display: flex;
}
.conteudo{
width: 35%;

}
.sao-titulo{
    padding: 24px 0px;
}

.estudante-imagem{
    width: 120px;
}
.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}
.jogador-div{
    text-align: center;
    padding: 16px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}