.cabecalho{
background-color:#FF0C0C ;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
}

.imagem-cabecalho{
width: 20%;
}
.cabecalho-item{
display: inline-block;


}


